/* Asterisk means wildcard a.k.a anything */
* {
	margin: 0;
	padding: 0;
}

/* Apply colour to whole page: */
body {
	background-color: paleturquoise;
	/* background-color: #FF00FF; */
}

/* Make the container use flexbox to arrange its children */
.container {
	display: flex;
	flex-wrap: wrap;
}

/* Make rows as wide as the screen */
.row {
	width: 100dvw;
	padding: 2dvw;
}

/* Make the form row show its form columns side by side */
.formRow {
	width: 100dvw;
	margin: 0;
	display: flex;
	height: 10dvh;
}

/* Styling the column/card row so it has space to show its content */
.displayRow {
	margin: 0;
	display: flex;
	height: 70dvh;
	padding: 1%;
}

/* All columns inside the formRow will have spacing and a default size */
.formRow > .column {
	/* Changed width so there's no horizontal scroll */
	width: 30dvw;
	padding: 1dvw;
	margin: 0;
}

/* All trello columns have default width and height, but expand to fit all cards inside them */
.trelloColumn {
	width: 33%;
	background-color: grey;
	min-height: 80%;
	height: max-content;
	margin: 1%;
}

/* All Trello cards, even the one in the preview section that does not exist inside a column */
.trelloCard {
	background-color: darkgoldenrod;
	width: 90%;
	height: 10dvh;
	text-align: center;
	margin: 0;
}

/* Trello cards that exist within a column */
.trelloColumn > .trelloCard {
	margin: 5%;
}

/* Style just the card in the preview section */
#cardPreview {
	background-color: wheat;
}
